@font-face {
    font-family: 'Lecker';
    src: url('../fonts/LeckerliOneRegular.eot');
    src: url('../fonts/LeckerliOneRegular.eot') format('embedded-opentype'),
         url('../fonts/LeckerliOneRegular.woff2') format('woff2'),
         url('../fonts/LeckerliOneRegular.woff') format('woff'),
         url('../fonts/LeckerliOneRegular.ttf') format('truetype'),
         url('../fonts/LeckerliOneRegular.svg#LeckerliOneRegular') format('svg');
}

@font-face {
    font-family: 'MuseoSans100';
    src: url('../fonts/MuseoSans100_0.eot');
    src: url('../fonts/MuseoSans100_0.eot') format('embedded-opentype'),
         url('../fonts/MuseoSans100_0.woff2') format('woff2'),
         url('../fonts/MuseoSans100_0.woff') format('woff'),
         url('../fonts/MuseoSans100_0.ttf') format('truetype'),
         url('../fonts/MuseoSans100_0.svg#MuseoSans100_0') format('svg');
}

@font-face {
    font-family: 'MuseoSans_4';
    src: url('fonts/MuseoSans_4.eot');
    src: url('fonts/MuseoSans_4.eot') format('embedded-opentype'),
         url('fonts/MuseoSans_4.woff2') format('woff2'),
         url('fonts/MuseoSans_4.woff') format('woff'),
         url('fonts/MuseoSans_4.ttf') format('truetype'),
         url('fonts/MuseoSans_4.svg#MuseoSans_4') format('svg');
}
