@import url('variaveis.less');
/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #gala{
        display: none !important;
    }
    section#barra-shows{
        margin-top: 30px;
    }

    header#header{
        height: auto;
        position: relative;
    }

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .barra-meio{
        float: left;
        margin-top: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #gala{
        display: none !important;
    }

    section#barra-shows{
        margin-top: 30px;

        .barra-body{
            height: auto;
        }
    }

    .baixar-cd{

        span.t3{
            float: left !important;
        }
    }

    .contatos{
        .museo100(15px) !important;
    }


    header#header{
        height: auto;
        position: relative;
    }

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
        #gala{
        display: none !important;
    }

    section#barra-shows{
        margin-top: 30px;

        .barra-body{
            height: auto;
        }
    }

    #logo{
        float: left;
        margin: 40px 0 0 10px;
    }
}