@import "elements.less";
@import "variaveis.less";

@import "mobile.less";

body{
	background: url('../imgs/bg.png') no-repeat center center;
	background-color: @bg;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: @branco;
}
a{
	.transition(0.4s, ease-out);

	&:hover{
		text-decoration: none;
		.transition(0.2s, ease-out);
	}
}
hr.divisor{
	border-top: 1px solid @lilas;
}

:moz-placeholder{
		color: @branco !important;
		.museo900(12px);
		text-transform: uppercase;
}
::-webkit-input-placeholder{
		color: @branco !important;
		.museo900(12px);
		text-transform: uppercase;
	}
.gallery-cell {
  width: 100%;

}
.site{
	width: 1170px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
/*Galã do brega*/
#gala{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 565px;
	height: 1010px;
	position: relative;
	float: right;
	z-index: 25;

}
.parallax-foto{
	margin-top: -30px;
	position: absolute;
}
.parallax-foto img{
	position: absolute;
	width: 565px;
	height: 1010px;
}
/*Header*/

#header{
	width: 100%;
	height: 100px;
	background-color: rgba(93,46,87,0.55);
	.museo100(18px);
	position: absolute;

	.nav > li > a:hover{
		background: none;
	}

	ul li{
		list-style-type: none;
		.museo900(16px);
		height: 100px;
		margin: 0 0 0 5px;
		padding: 35px 0 0;
		.transition(0.4s, ease-out);
		z-index: 28;

		&:hover{
			background: @azbb;
			.transition(0.2s, ease-out);
		}

		a{
			color: @branco;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 15px;

			&:hover{
				&>li{
					background: @azbb;
				}
			}
		}
	}

	.social{
		color: @azbb;
		font-size: 30px;
		list-style-type: none;
		margin-top: 20px;
		position: relative;
		z-index: 26;

		li{
			display: inline;
		}

		a{
			color: @azbb;

			&:hover{
				color: @branco;
			}
		}
	}
}
/*
 *logo
 */
#logo{
	float: left;
	margin: 140px 0 0 50px;

	.responsive{
		margin: 0 auto;
	}
}
@media (max-width: 480px) {
    #logo{
        float: left;
        margin: 40px 0 0 10px;
    }
}

/*
 * Seção Shows - Barra Meio gradient
*/
#barra-shows{
	width: 100%;
	margin-top: -500px;
	float: left;

	.barra-body{
		background-color: rgba(93,46,87,0.55);
		height: 265px;
	}

	.titulo-shows{
		margin-left: 30px;
		text-transform: uppercase;
		.museo100(28px);

		span{
			.museo900(28px);
		}
	}

	.data-show{
		margin: 5px 0 0 10px;

		.data_um,
		.data_dois{
			.lecker;
		}

		span.data_um{
			font-size: 88px;
		}
		span.data_dois{
			font-size: 38px;
			margin-left: -10px;
		}

		h3.titulo{
			.museo900(18px);
			color: @azbb;
			margin: -10px 0 0 0;
		}
	}
}


.barra-meio{
	background: linear-gradient(to bottom, rgba(56, 16, 53, 0.6) 0%, rgba(120, 0, 68, 0) 100%);
	float: left;
	width: 100%;
	height: 600px;
	margin-top: -500px;

/**
 * Seção Contato
 */
	#contato{
		margin-top: 20px;

		h2.contato{
			.museo900(30px);
			text-transform: uppercase;
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}

	input[type="text"]{
		height: 42px;
	}

	textarea{
		height: 260px;
	}

	input[type="text"],
	textarea{
		background: @lilas;
		border: none;
		color: @branco !important;
		margin-bottom: 10px;
		border-radius: 0;
	}

	button[type="submit"]{
		background: @azbb;
		width: 175px;
		height: 70px;
		.museo900(27px);
		text-transform: uppercase;
		margin-right: 15px;
		border-radius: 0;
		.transition(0.3s);

		&:hover{
			border: 3px solid @branco;
		}
	}

/**
 * Seção Fotos
 */

	#fotos{

		h2.titulo{
			.museo100(30px);
		}

		article.foto{
			float: left;
			margin-bottom: 35px;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			width: 247px;
			height: 247px;

			a{
				color: @branco;
			}

			.mascara{
				width: 247px;
				height: 247px;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
				opacity: 0;
				.bgfotosrgba(0.90);

				&:hover{
					opacity: 1;
				}
			}

			img{
				display: block;
				position: relative;
			}

			.iczoom{
				margin-top: 95px;
				font-size: 30px;
				padding: 3px;
				text-align: center;
				border: 4px dashed @branco;
			}

			h2{
				text-align: center;
				margin-top: 10px;
				.museo100(15px);
				text-transform: uppercase;
				position: relative;
			}

		}
	}

	.video{
		display: inline-block;
		width: 100%;

		.video-titulo{
			.museo900(16px);
			text-transform: uppercase;
			margin-top: 20px;
		}
	}

/**
 * Seção Agenda
 */
	h2.titulo{
		.museo900(30px);
		text-transform: uppercase;
		margin-left: 20px;
		margin-bottom: 20px;

		span{
			.museo100(30px);
		}
	}

	#agenda{
		.mCustomScrollBox{
			margin-left: 30px !important;
		}

		.agenda-body{
			height: auto;

			article.shows{
				.bglilasrgba;
				color: @branco;
				border-right: 1px solid @lilas;
				height: 100px;
				float: left;

				&:nth-child(odd){
					.bglilasrgba(0.7);
				}

				.data{
					.lecker(80px);

					span{
						.lecker(28px);
					}
				}

				.cidade-local{
					.museo900(15px);
					margin-top: 30px;
					color: @azbb;

					.local{
						color: @rosa;

						span{
							.museo100(19px);
						}
					}
				}
			}
		}

	}
}
@media (min-width: 768px) and (max-width: 991px) {
    .barra-meio{
        float: left;
        margin-top: 10px;

        #agenda{

        	.agenda-body{

        		article.shows{
        			width: 100%;
        		}
        	}
        }
    }
}
@media (max-width: 767px) {
    .barra-meio{
        float: left;
        margin-top: 10px;

        #agenda{

        	.agenda-body{

        		article.shows{
        			width: 100%;

					.data{
						.lecker(60px);

						span{
							.lecker(22px);
						}
					}
					.cidade-local{
						.museo900(15px);
						margin-top: 30px;
						color: @azbb;

						.local{
							color: @rosa;

							span{
								.museo100(19px);
							}
						}
					}
        		}
        	}
        }
    }
}
@media (max-width: 480px) {
    .barra-meio{
        float: left;
        margin-top: 10px;

        #agenda{

        	.agenda-body{

        		article.shows{
        			width: 100%;

					.data{
						.lecker(60px);

						span{
							.lecker(22px);
						}
					}
					.cidade-local{
						.museo900(15px);
						margin-top: 30px;
						color: @azbb;

						.local{
							color: @rosa;

							span{
								.museo100(19px);
							}
						}
					}
        		}
        	}
        }
    }
}
/*
 *Seção CD
 */
.baixar-cd{
	margin-top: 150px;
	margin-left: 70px;
	.museo100;
	text-transform: uppercase;

	.capa-cd{
		float: right;
	}

	span.t1{
		font-size: 36px;
	}
	span.t2{
		.museo900(36px);
		float: left;
		margin-top: -13px;

		span.sub-t2{
			.museo100(36px);
		}
	}
	span.t3{
		.museo100(14px);
		float: left;

		a{
			color: @lilas;

			&:hover{
				color: light(60%);
			}
		}
	}
}
@media(max-width: 480px){

    .baixar-cd{
        float: left;
        margin-left: 15px;
        .museo100(12px);

        span.t1{
        	font-size: 30px;
        }

        span.t2{
        	font-size: 30px;

        	span.sub-t2{
        		.museo100(30px);
        	}
        }
        span.t3{
        	.museo100(12px);
        }
    }
}
/**
 * Seção Contatos
*/
.contatos{
	.museo100(19px);

	a{
		color: @branco;

		&:hover{
			color: @azbb;
		}
	}

	.item{
		float: left;

		&:nth-child(2n){
			margin-left: 15px;
		}

		.icone{
			font-size: 30px;
			color: @branco;
			padding-right: 15px;
		}
	}
}
@media(max-width: 480px){
	.contatos{
		margin-left: 0;
	}
}
/**
 * Rodapé
 */
footer#rodape{
	background-color: rgba(93,46,87,0.3);
	float: left;
	width: 100%;
	height: 115px;
	margin-top: 40px;
	.museo100;

	.copy{
		color: @azbb;
		.user-select;
		margin-top: 9%;
	}

	.creditos{
		background: url('../imgs/creditos.png') no-repeat;
		width: 300px;
		height: 24px;
		margin-top: 15%;

		.koalla{
			float: right;
			width: 38px;
			height: 24px;
			margin-right: 25px;
			display: block;
			text-indent: -9999px;
		}
	}
}
