@branco: #fff;
@preto: #000;
@bg: #070510;
@azbb: #8dcaff;
@lilas: #9d7399;
@lilasmenu: #5d2e57;
@rosa: #f6c6ef;

.bglilasrgba(@opacidade: 0.55){
	background-color: rgba(93,46,87,@opacidade);
}
.bgfotosrgba(@opacidade: 0.55){
	background-color: rgba(16,58,126,@opacidade);
}

.lecker(@fontsize: 14px){
	font-family: 'leckerli_oneregular';
	font-size: @fontsize;
}

.museo100(@fontsize: 14px){
	font-family: 'museo_sans100';
	font-size: @fontsize;
}

.museo900(@fontsize: 14px){
	font-family: 'museo_sans900';
	font-size: @fontsize;
}

