@font-face {
    font-family: 'Lecker';
    src: url('LeckerliOneRegular.eot');
    src: url('LeckerliOneRegular.eot') format('embedded-opentype'),
         url('LeckerliOneRegular.woff2') format('woff2'),
         url('LeckerliOneRegular.woff') format('woff'),
         url('LeckerliOneRegular.ttf') format('truetype'),
         url('LeckerliOneRegular.svg#Lecker') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'MuseoSans100';
    src: url('MuseoSans100_0.eot');
    src: url('MuseoSans100_0.eot') format('embedded-opentype'),
         url('MuseoSans100_0.woff2') format('woff2'),
         url('MuseoSans100_0.woff') format('woff'),
         url('MuseoSans100_0.ttf') format('truetype'),
         url('MuseoSans100_0.svg#MuseoSans100') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'MuseoSans_4';
    src: url('MuseoSans_4.eot');
    src: url('MuseoSans_4.eot') format('embedded-opentype'),
         url('MuseoSans_4.woff2') format('woff2'),
         url('MuseoSans_4.woff') format('woff'),
         url('MuseoSans_4.ttf') format('truetype'),
         url('MuseoSans_4.svg#MuseoSans_4') format('svg');
        font-weight: normal;
        font-style: normal;
}
