.redux-dimensions-container select,
.redux-dimensions-container .select_wrapper {
  width: 80px !important;
  float: left; }
.redux-dimensions-container .field-dimensions-input {
  margin-right: 10px;
  margin-bottom: 7px; }

@media screen and (max-width: 782px) {
  .redux-dimensions-container .field-dimensions-input input {
    display: inline-block !important;
    width: 100px !important; }
  .redux-dimensions-container .field-dimensions-input .add-on {
    padding: 7px 4px;
    font-size: 16px;
    line-height: 1.5; }
  .redux-dimensions-container .select_wrapper {
    margin-top: 6px; } }

/*# sourceMappingURL=field_dimensions.css.map */
