.redux-container-palette label {
  border: 3px solid transparent; }
  .redux-container-palette label.ui-button.ui-widget {
    width: 95%;
    background: none;
    padding: 0; }
    .redux-container-palette label.ui-button.ui-widget .ui-button-text {
      /*                border-top: 3px solid transparent;
                      border-bottom: 3px solid transparent;
                      margin-bottom: 5px;*/
      display: flex; }
      .redux-container-palette label.ui-button.ui-widget .ui-button-text span {
        padding: 10px;
        flex-grow: 1;
        font-size: 0;
        line-height: 10px;
        color: transparent;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        text-shadow: 0; }
        .redux-container-palette label.ui-button.ui-widget .ui-button-text span:hover {
          flex-grow: 3;
          font-weight: bold;
          min-width: 60px;
          font-size: 12px;
          line-height: 10px;
          color: #333;
          text-shadow: 0 0 8px #fff, 0 0 8px #fff; }
  .redux-container-palette label.ui-state-active.ui-button.ui-widget span.ui-button-text {
    border: 3px solid #333; }

/*# sourceMappingURL=field_palette.css.map */
